Repository DSD-DBS/py-capellambse: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, ruff

docformatter:
  name: docformatter
  language: system
  entry: uv run --dev docformatter
  require_serial: true

ruff:
  name: Lint with ruff (demo notebooks)
  language: system
  entry: uv run --dev ruff check
  args:
  - --extend-ignore=FIX
  - --extend-ignore=ERA001
  require_serial: true

fix(model): Allow empty tuple shorthand for Backref
  src/capellambse/model/_descriptors.py
Due: docformatter

feat: Automatically create a Part for new Components
  src/capellambse/metamodel/cs.py
  src/capellambse/metamodel/pa/__init__.py
  tests/test_metamodel_cs.py
Due: docformatter

feat(model): Check Alias and DeprecatedAccessor targets for deprecations
  src/capellambse/model/_descriptors.py
Due: docformatter

fix: Fix all current deprecation warnings triggered internally
  src/capellambse/extensions/filtering.py
  src/capellambse/extensions/pvmt/__init__.py
  src/capellambse/extensions/pvmt/_config.py
  src/capellambse/extensions/reqif/_glue.py
  src/capellambse/extensions/reqif/capellarequirements.py
  src/capellambse/extensions/reqif/exporter.py
  src/capellambse/extensions/reqif/requirements.py
  src/capellambse/metamodel/capellacore.py
  src/capellambse/metamodel/fa.py
  src/capellambse/metamodel/information/__init__.py
  src/capellambse/metamodel/information/datavalue.py
  src/capellambse/metamodel/interaction.py
  src/capellambse/metamodel/la.py
  src/capellambse/metamodel/modellingcore.py
  src/capellambse/metamodel/oa.py
  src/capellambse/metamodel/sa.py
  src/capellambse/model/_descriptors.py
  src/capellambse/model/_obj.py
  src/capellambse/model/_styleclass.py
  tests/test_decl.py
  tests/test_metamodel_common.py
  tests/test_metamodel_cs.py
  tests/test_metamodel_fa.py
  tests/test_metamodel_information.py
  tests/test_model_creation_deletion.py
  tests/test_model_layers.py
  tests/test_model_pvmt.py
  tests/test_reqif.py
Due: docformatter

feat: Compute implicit Component/Function allocations
  src/capellambse/metamodel/cs.py
  src/capellambse/metamodel/fa.py
  src/capellambse/metamodel/la.py
  tests/test_model_layers.py
Due: docformatter

fix: Enable `epbs` on `MelodyModel`
  src/capellambse/model/_model.py
Due: docformatter

feat: Add diagrams and `all_configuration_items` to `epbs`
  src/capellambse/metamodel/epbs.py
Due: docformatter

feat: Hide deprecated aliases from `repr()` and friends
  src/capellambse/model/_obj.py
Due: docformatter

docs: Update examples to non-deprecated attributes
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  docs/source/examples/03 Data Values.ipynb
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/07 Code Generation.ipynb
  docs/source/examples/10 Declarative Modeling.ipynb
Due: ruff

test: Remove useless always-skipped tests
  tests/data/models/aird_parser/TestItems.json
  tests/data/models/aird_parser/TestItems.json.license
  tests/data/models/aird_parser/TestItems.repr.txt
  tests/data/models/aird_parser/TestItems.repr.txt.license
  tests/data/models/aird_parser/TestItems.txt
  tests/data/models/aird_parser/TestItems.txt.license
  tests/test_aird_parser.py
  tests/test_model_layers.py
Due: docformatter

refactor: Deprecate old, now-unused functions
  src/capellambse/decl.py
  src/capellambse/extensions/pvmt/__init__.py
  src/capellambse/extensions/pvmt/_config.py
  src/capellambse/extensions/reqif/_glue.py
  src/capellambse/extensions/reqif/capellarequirements.py
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/loader/core.py
  src/capellambse/metamodel/oa.py
  src/capellambse/model/__init__.py
  src/capellambse/model/_descriptors.py
  src/capellambse/model/_obj.py
  tests/test_model_layers.py
Due: docformatter

feat: Re-type MelodyLoader uses in preparation for alternative backends
  src/capellambse/aird/__init__.py
  src/capellambse/aird/_box_factories.py
  src/capellambse/aird/_common.py
  src/capellambse/aird/_edge_factories.py
  src/capellambse/aird/_filters/__init__.py
  src/capellambse/aird/_filters/global.py
  src/capellambse/aird/_visual.py
  src/capellambse/helpers.py
  src/capellambse/loader/__init__.py
  src/capellambse/loader/_typing.py
  src/capellambse/loader/core.py
  src/capellambse/loader/modelinfo.py
  src/capellambse/model/_descriptors.py
  src/capellambse/model/_model.py
  src/capellambse/model/_obj.py
  tests/conftest.py
  tests/test_model_creation_deletion.py
  tests/test_model_loading.py
Due: docformatter

ci: Compare cells of the generated notebook file
  scripts/verify-examples.sh
Due: none

fix: Update the VIRTUAL_NAMESPACE_PREFIX to 'dbinfrago.github.io'
  src/capellambse/model/__init__.py
Due: docformatter

chore: Update references to dbinfrago/capella-dockerimages
  src/capellambse/_scripts/filter_derive.py
  src/capellambse/model/_model.py
Due: docformatter

chore: Move repository to DB InfraGO GitHub organization
  .github/workflows/code-qa.yml
  .github/workflows/commits.yml
  CONTRIBUTING.md
  README.md
  ci-templates/github/README.rst
  ci-templates/github/model-complexity-badge/action.yml
  ci-templates/gitlab/README.rst
  ci-templates/gitlab/filter-derive.yml
  ci-templates/gitlab/model-badge.yml
  docs/source/examples/04 Intro to Jinja templating.ipynb
  docs/source/examples/05 Introduction to Libraries.ipynb
  docs/source/examples/09 Context Diagrams.ipynb
  docs/source/index.rst
  docs/source/start/installation.rst
  pyproject.toml
  src/capellambse/model/_model.py
Due: docformatter, ruff

fix(metamodel): Filter by link target in `FunctionalChain.involved_*`
  src/capellambse/metamodel/fa.py
Due: docformatter

chore: Update remaining references to 'https://github.com/DSD-DBS'
  docs/source/conf.py
  src/capellambse/known_models/coffee-machine.json
  tests/test_filehandler_git.py
Due: docformatter

build: Enable Python 3.14 builds
  .github/workflows/code-qa.yml
  pyproject.toml
Due: none

ci: Engage dependabot for Rust dependencies
  .github/dependabot.yml
Due: none

fix(repl): Mark the model argument to 'capellambse repl' as optional
  src/capellambse/_scripts/repl.py
Due: docformatter

fix(repl): Protect against failure to restore REPL history
  src/capellambse/_scripts/repl.py
Due: docformatter

refactor(repl): Use @contextmanager for readline history
  src/capellambse/_scripts/repl.py
Due: docformatter

fix: Hide '_model' from SelectorRules 'repr()'
  src/capellambse/extensions/pvmt/_config.py
Due: docformatter

fix(metamodel): Make PhysicalLink.{source,target} more resilient
  src/capellambse/metamodel/cs.py
Due: docformatter

fix(metamodel): Fix definition of `all_complex_values`
  src/capellambse/metamodel/cs.py
Due: docformatter

fix(metamodel): Move root_function definition to the relevant layers
  src/capellambse/metamodel/fa.py
  src/capellambse/metamodel/la.py
  src/capellambse/metamodel/pa/__init__.py
  src/capellambse/metamodel/sa.py
Due: docformatter

fix(model): Protect `dir(some_element_list)` against exceptions
  src/capellambse/model/_obj.py
Due: docformatter

build: Test against Python 3.14
  .github/workflows/code-qa.yml
  pyproject.toml
Due: none

chore: Add (and apply) `.editorconfig`
  .commitlintrc.yml
  .editorconfig
  .github/workflows/code-qa.yml
  .github/workflows/commits.yml
  .pre-commit-config.yaml
Due: none

fix(svg): Disable context uuid groups in style class per default
  src/capellambse/svg/drawing.py
  tests/test_svg.py
Due: docformatter

Path conditions:
  docformatter: any of: \.py$
  ruff: any of: docs/.*\.ipynb$ and \.ipynb$
