Repository DSD-DBS/py-capellambse: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

.pre-commit-config.yaml:

# SPDX-FileCopyrightText: Copyright DB Netz AG and the capellambse contributors
# SPDX-License-Identifier: CC0-1.0

default_install_hook_types: [commit-msg, pre-commit]
default_stages: [commit, merge-commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-builtin-literals
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
        exclude: '^tests/data/decl/[^/]+\.ya?ml$'
      - id: debug-statements
      - id: destroyed-symlinks
      - id: end-of-file-fixer
      - id: fix-byte-order-marker
      - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/PyCQA/docformatter
    rev: v1.5.1
    hooks:
      - id: docformatter
        additional_dependencies:
          - docformatter[tomli]
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        additional_dependencies:
          - pydocstyle[toml]
        args:
          - --add-ignore=D1
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: mypy
        language: python
        types_or: [python, toml, yaml]
        pass_filenames: false
        args: [capellambse, tests]
        additional_dependencies:
          - mypy==1.0.0
          - capellambse[cli,decl,docs,httpfiles,png,termgraphics,test]
          - sphinx
          - types-docutils==0.17.0
          - types-pyyaml==6.0.11
          - types-requests==2.25.11
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: python
        types: [python]
        additional_dependencies:
          - pylint==2.16.2
        args: [-rn, -sn, -dfixme, -dduplicate-code]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.4.2
    hooks:
      - id: insert-license
        name: Insert license headers (shell-style comments)
        files: '(?:^|/)(?:.*\.(?:py|sh|toml|ya?ml)|Dockerfile|Makefile)$'
        exclude: '(?:^|/)\..+|^docs/Makefile$'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "#"
      - id: insert-license
        name: Insert license headers (XML-style comments)
        files: '\.(?:html|md|xml)$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "<!--| ~| -->"
      - id: insert-license
        name: Insert license headers (C-style comments)
        files: '\.(?:css|js|ts)$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "/*| *| */"
      - id: insert-license
        name: Insert license headers (reST comments)
        files: '\.rst$'
        exclude: '(?:^|/)\..+'
        args:
          - --detect-license-in-X-top-lines=15
          - --license-filepath
          - LICENSES/.license_header.txt
          - --comment-style
          - "..|  |"
  - repo: https://github.com/psf/black
    rev: 23.1.0
    hooks:
      - id: black
  - repo: https://github.com/fsfe/reuse-tool
    rev: v1.1.0
    hooks:
      - id: reuse
  - repo: https://github.com/qoomon/git-conventional-commits
    rev: v2.5.0
    hooks:
      - id: conventional-commits

fix(loader): Pass `**kwargs` on to `get_filehandler`
  capellambse/loader/core.py
Due: mypy, pylint

fix(filehandler): Ignore Git `credential.helper` for passed credentials
  capellambse/filehandler/git.py
Due: mypy, pylint

feat(model): Add missing realization links
  capellambse/model/common/accessors.py
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  capellambse/model/layers/ctx.py
  capellambse/model/layers/la.py
  capellambse/model/layers/pa.py
Due: mypy, pylint

feat(model): Add TypecastAccessor
  capellambse/model/common/accessors.py
Due: mypy, pylint

fix(model): Fix diagram rich display in JupyterLab
  capellambse/model/diagram.py
  pyproject.toml
  tests/test_svg.py
Due: mypy, pylint

feat(model): Allow multiple CEX -> PhysicalPath allocations
  capellambse/model/crosslayer/cs.py
  capellambse/model/crosslayer/fa.py
  tests/data/melodymodel/5_0/Melody Model Test.aird
  tests/data/melodymodel/5_0/Melody Model Test.capella
  tests/test_model_layers.py
Due: mypy, pylint

feat(model): Add realizations to ComponentExchange
  capellambse/model/crosslayer/fa.py
Due: mypy, pylint

feat(model): Add missing `post-/pre-condition` to `Scenario`
  capellambse/model/crosslayer/interaction.py
Due: mypy, pylint

feat(cli_helpers): Add helpers for loading info about a model
  capellambse/cli_helpers.py
  capellambse/repl.py
Due: mypy, pylint

feat(cli_helpers): Recognize local directories in `loadcli`
  capellambse/cli_helpers.py
Due: mypy, pylint

feat(ci-templates): Add Github Action for model badge generation
  ci-templates/README.rst
  ci-templates/github/README.rst
  ci-templates/github/model-complexity-badge/action.yml
Due: mypy

test: Add more convenience launch profiles
  .vscode/launch.json
Due: none

feat(native): Expose data to scripts via envvars
  capellambse/_native.py
Due: mypy, pylint

feat(decl): Return resolved promises from `apply`
  capellambse/decl.py
Due: mypy, pylint

perf(filehandler): Use a Session for Gitlab Artifacts
  capellambse/filehandler/gitlab_artifacts.py
Due: mypy, pylint

perf(git): Prefetch is_dir/is_file results
  capellambse/filehandler/git.py
Due: mypy, pylint

feat(cli_helpers): Log when starting to load a model
  capellambse/cli_helpers.py
Due: mypy, pylint

feat(model): Resolve diagram-links in descriptions
  capellambse/model/common/properties.py
  tests/conftest.py
  tests/data/melodymodel/6_0/Melody Model Test.aird
  tests/data/melodymodel/6_0/Melody Model Test.capella
  tests/test_diagram.py
  tests/test_reqif.py
Due: mypy, pylint

feat(model): Resolve diagram references in setting an `HTMLAttribute`
  capellambse/helpers.py
  capellambse/model/common/properties.py
  tests/test_diagram.py
Due: mypy, pylint

feat(model): Add `input/output_exchanges` to `fa.Function`
  capellambse/model/crosslayer/fa.py
Due: mypy, pylint

fix: Don't block Capella on error in native client
  capellambse/_native.py
Due: mypy, pylint

feat: Add white background if needed to diagram cache svg
  capellambse/_diagram_cache.py
  capellambse/diagram_cache.py
  capellambse/model/__init__.py
Due: mypy, pylint

fix(svg): Fix crash when drawing port labels
  capellambse/svg/drawing.py
Due: mypy, pylint

fix(reqif): Fix creation of `Relation`s from a `Requirement`
  capellambse/extensions/reqif/_capellareq.py
  tests/test_reqif.py
Due: mypy, pylint

feat(glart): Work around Gitlab bug #414807
  capellambse/filehandler/gitlab_artifacts.py
Due: mypy, pylint

docs(glart): Improve documentation and error messages
  capellambse/filehandler/gitlab_artifacts.py
Due: mypy, pylint

fix(diagram_cache): Change default to white background
  capellambse/diagram_cache.py
  capellambse/model/__init__.py
Due: mypy, pylint

build(docs): Also clean generated apidocs with 'make clean'
  docs/Makefile
Due: none

build(docs): Blacklist early Sphinx 7.2 version
  pyproject.toml
Due: mypy

feat(ci-templates): Make pushing the complexity badge optional in Gitlab
  ci-templates/gitlab/model-badge.yml
Due: mypy

feat(ci-templates): Allow specifying JSON as `ENTRYPOINT` everywhere
  ci-templates/gitlab/model-badge.yml
Due: mypy

feat: Export cli_helpers.loadinfo
  capellambse/cli_helpers.py
Due: mypy, pylint

refactor: Avoid some 'type: ignore' cases
  capellambse/_namespaces.py
  capellambse/aird/_common.py
  capellambse/cli_helpers.py
Due: mypy, pylint

docs(filtering): Fix wrong CLI flags in docstring
  capellambse/extensions/filtering.py
Due: mypy, pylint

fix(ci-templates): Fix broken model badge template
  ci-templates/gitlab/model-badge.yml
Due: mypy

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/filehandler/abc.py
Due: mypy, pylint

fix(docs): Add instructions to `README`
  README.rst
Due: none

fix(notebooks): Temporary fix of PA Notebook
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Due: none

feat(model): Add filter and map methods to ElementList
  capellambse/model/common/element.py
Due: mypy, pylint

docs: Use new methods in PA demo notebook
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
Due: none
