Repository DSD-DBS/py-capellambse: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, ruff

Path conditions:
  docformatter: any of: \.py$
  ruff: any of: docs/.*\.ipynb$ and \.ipynb$

refactor(exs): Rewrite it in Rust
  src/capellambse/_compiled.pyi
  src/capellambse/loader/exs.py
  src/exs.rs
  src/lib.rs
  tests/test_exs.py
Due: docformatter

build: Split out test dependencies into their own group
  .pre-commit-config.yaml
  pyproject.toml
Due: none

chore: Prepare the project for Rust module development
  .github/workflows/code-qa.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Cargo.toml
  README.md
  docs/.readthedocs.yaml
  pyproject.toml
  src/capellambse/_compiled.pyi
  src/lib.rs
Due: none

chore: Update license metadata according to PEP-639
  docs/source/conf.py
  pyproject.toml
Due: docformatter

fix(diagram): Improve spacing for SystemComponent / -Actor symbols
  src/capellambse/diagram/_icons.py
Due: docformatter

docs: Add a cookbook for common decl recipes
  docs/source/start/declarative.rst
Due: none

build: Add a more complete ecore parsing script
  scripts/ecore2py.py
  scripts/generate_enums.py
Due: docformatter

feat: Avoid stray AttributeErrors escaping from @property [WIP]
  src/capellambse/extensions/pvmt/_config.py
  src/capellambse/extensions/pvmt/_objects.py
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/metamodel/capellacommon.py
  src/capellambse/metamodel/capellacore.py
  src/capellambse/metamodel/capellamodeller.py
  src/capellambse/metamodel/fa.py
  src/capellambse/metamodel/information/__init__.py
  src/capellambse/metamodel/information/datatype.py
  src/capellambse/metamodel/la.py
  src/capellambse/metamodel/oa.py
  src/capellambse/metamodel/pa.py
  src/capellambse/metamodel/sa.py
  src/capellambse/model/_model.py
  src/capellambse/model/diagram.py
Due: docformatter

feat: Improve type hints for 'ElementList.by_*'
  src/capellambse/model/_obj.py
Due: docformatter

feat: Migrate and extend metamodel to namespace discovery
  docs/source/examples/01 Introduction.ipynb
  pyproject.toml
  src/capellambse/extensions/pvmt/_config.py
  src/capellambse/extensions/reqif/_glue.py
  src/capellambse/extensions/reqif/_requirements.py
  src/capellambse/metamodel/__init__.py
  src/capellambse/metamodel/activity.py
  src/capellambse/metamodel/behavior.py
  src/capellambse/metamodel/capellacommon.py
  src/capellambse/metamodel/capellacore.py
  src/capellambse/metamodel/capellamodeller.py
  src/capellambse/metamodel/cs.py
  src/capellambse/metamodel/epbs.py
  src/capellambse/metamodel/fa.py
  src/capellambse/metamodel/information/__init__.py
  src/capellambse/metamodel/information/communication.py
  src/capellambse/metamodel/information/datatype.py
  src/capellambse/metamodel/information/datavalue.py
  src/capellambse/metamodel/interaction.py
  src/capellambse/metamodel/la.py
  src/capellambse/metamodel/libraries.py
  src/capellambse/metamodel/modellingcore.py
  src/capellambse/metamodel/modeltypes.py
  src/capellambse/metamodel/namespaces.py
  src/capellambse/metamodel/oa.py
  src/capellambse/metamodel/pa.py
  src/capellambse/metamodel/re.py
  src/capellambse/metamodel/sa.py
  src/capellambse/metamodel/sharedmodel.py
  src/capellambse/model/_obj.py
  src/capellambse/model/diagram.py
  tests/test_decl.py
  tests/test_metamodel_cs.py
  tests/test_metamodel_information.py
  tests/test_model_creation_deletion.py
  tests/test_model_layers.py
Due: docformatter, ruff

feat(model): Implement MultiStringPOD
  src/capellambse/model/_pods.py
Due: docformatter

refactor: Deprecate old, now-unused functions
  src/capellambse/loader/core.py
  src/capellambse/model/__init__.py
  src/capellambse/model/_descriptors.py
  src/capellambse/model/_obj.py
Due: docformatter

feat(model): Reuse existing Allocation objects
  src/capellambse/model/_descriptors.py
  tests/test_model_layers.py
Due: docformatter

fix: Verify that the DeprecatedAccessor alternative exists
  src/capellambse/model/_descriptors.py
Due: docformatter

test: Fail on unraisable exceptions
  pyproject.toml
Due: none

feat: Improve class selection during insert without type hint
  src/capellambse/extensions/reqif/_capellareq.py
  src/capellambse/model/_descriptors.py
  tests/test_reqif.py
Due: docformatter

fix(model): Rework list filtering
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/extensions/validation/report-template.html.jinja
  src/capellambse/metamodel/cs.py
  src/capellambse/model/_obj.py
  tests/test_model_layers.py
  tests/test_validation.py
Due: docformatter, ruff

chore: Improve `repr()` and error messages of Accessor classes
  src/capellambse/model/_descriptors.py
Due: docformatter

fix(decl): Evaluate `_NoObjectFoundError` description lazily
  src/capellambse/decl.py
Due: docformatter

build: Exclude lxml v5.3.2 on Windows
  pyproject.toml
Due: none

feat(model): Expose the raw 'ownedExtensions' attribute
  src/capellambse/metamodel/capellacore.py
  src/capellambse/model/_obj.py
Due: docformatter
