Repository DSD-DBS/py-capellambse: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

Path conditions:
  mypy: any of: \.py$, \.toml$, \.(yaml|yml)$
  pylint: any of: \.py$

fix(svg): Switch to representational attributes for fonts
  capellambse/svg/drawing.py
  capellambse/svg/symbols.py
Due: mypy, pylint

refactor(svg): Get rid of style="..." attributes
  capellambse/aird/_styling.py
  capellambse/diagram/capstyle.py
  capellambse/svg/drawing.py
  capellambse/svg/style.py
  capellambse/svg/symbols.py
  tests/test_svg.py
Due: mypy, pylint

fix(svg): Write context of all element types to SVG
  capellambse/diagram/_diagram.py
  capellambse/diagram/_json_enc.py
  capellambse/svg/drawing.py
  tests/test_svg.py
Due: mypy, pylint

chore: Remove XXX comment that no longer applies
  capellambse/svg/drawing.py
Due: mypy, pylint

fix(diagram): Correctly capitalize Association classes
  capellambse/diagram/_styleclass.py
Due: mypy, pylint

feat(model): Add ability to upscale rendered PNGs
  capellambse/model/diagram.py
Due: mypy, pylint

feat(model): Auto-generate diagram filenames
  capellambse/model/diagram.py
Due: mypy, pylint

feat(repl): Allow starting a REPL without a model
  .vscode/launch.json
  capellambse/repl.py
Due: mypy, pylint

chore: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/_namespaces.py
  capellambse/aird/_box_factories.py
  capellambse/aird/_common.py
  capellambse/diagram/_vector2d.py
  capellambse/extensions/filtering.py
  capellambse/extensions/reqif/_capellareq.py
  capellambse/extensions/reqif/exporter.py
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/loader/exs.py
  capellambse/loader/xmltools.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/common/properties.py
  capellambse/model/diagram.py
  capellambse/pvmt/types.py
  capellambse/svg/style.py
  tests/test_model_loading.py
Due: mypy, pylint

ci: Ignore D1xx warnings globally
  .pre-commit-config.yaml
  pyproject.toml
Due: mypy

ci: Update pre-commit hooks once more
  .pre-commit-config.yaml
Due: mypy

fix(svg): Remove invalid Path attributes
  capellambse/svg/symbols.py
Due: mypy, pylint

fix(model): Fix CapabilityRealization.involved_components
  capellambse/model/crosslayer/capellacommon.py
  capellambse/model/layers/la.py
Due: mypy, pylint

ci: Use custom fork of 'reuse' tool
  .pre-commit-config.yaml
Due: mypy

fix(filehandler): Normalize 'self.subdir'
  capellambse/filehandler/abc.py
Due: mypy, pylint

feat(repl): Improve help text and banner
  capellambse/repl.py
Due: mypy, pylint

feat(diagram): Add styling for primitive `Class`es
  capellambse/diagram/_styleclass.py
  capellambse/diagram/capstyle.py
  capellambse/svg/decorations.py
Due: mypy, pylint

fix(svg): Add dependency for LogicalHumanActorSymbol
  capellambse/svg/symbols.py
Due: mypy, pylint

ci: Use upstream pylint hook
  .pre-commit-config.yaml
Due: mypy

docs: Repair broken sphinx references
  capellambse/aird/__init__.py
  capellambse/aird/_filters/__init__.py
  capellambse/extensions/pvmt.py
  capellambse/extensions/reqif/_requirements.py
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/http.py
  capellambse/filehandler/memory.py
  capellambse/helpers.py
  capellambse/loader/core.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/accessors.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
  capellambse/model/modeltypes.py
  capellambse/pvmt/__init__.py
  capellambse/pvmt/core.py
  capellambse/pvmt/types.py
  capellambse/svg/generate.py
  docs/source/conf.py
  docs/source/development/how-to-explore-capella-mm.rst
Due: mypy, pylint

docs: Fix some more docs-related issues
  capellambse/helpers.py
  capellambse/loader/core.py
Due: mypy, pylint

docs: Remove make.bat
  docs/make.bat
Due: none

docs: Don't generate APIDOC for deprecated modules
  docs/Makefile
Due: none

docs(git): Move cache_dir docstring to the attribute
  capellambse/filehandler/git.py
Due: mypy, pylint

build: Simplify dependency management
  pyproject.toml
Due: mypy

docs: Treat Sphinx warnings as errors
  .github/workflows/docs.yml
  docs/Makefile
Due: mypy

ci: Enforce `pre-commit` version >= 3.2.0
  .pre-commit-config.yaml
Due: mypy

fix: Replace references to deprecated `capella/cli` image
  capellambse/model/__init__.py
  ci-templates/gitlab/filter-derive.yml
Due: mypy, pylint

fix(loader): Handle resources in write_tmp_project_dir
  capellambse/_diagram_cache.py
  capellambse/_native.py
  capellambse/extensions/filtering.py
  capellambse/loader/core.py
Due: mypy, pylint

ci: Update pre-commit hooks
  .pre-commit-config.yaml
  capellambse/diagram/_diagram.py
Due: mypy, pylint

fix(native): Remove destination before copying into container
  capellambse/_native.py
Due: mypy, pylint

feat(cli): Fall back to treating strings as URLs
  capellambse/cli_helpers.py
Due: mypy, pylint

feat: Work with DRepresentationDescriptor objects
  capellambse/aird/__init__.py
  capellambse/aird/_common.py
  capellambse/aird/_filters/__init__.py
  capellambse/helpers.py
  capellambse/model/__init__.py
  capellambse/model/common/__init__.py
  capellambse/model/common/element.py
  capellambse/model/diagram.py
  tests/test_aird_parser.py
  tests/test_model_layers.py
Due: mypy, pylint

test: Shorten code in printed stack traces
  pyproject.toml
Due: mypy

feat(http): Log requested URL and response status
  capellambse/filehandler/http.py
Due: mypy, pylint

feat(filehandler): Allow is_file/dir on FileHandler
  capellambse/filehandler/abc.py
  capellambse/filehandler/git.py
  capellambse/filehandler/http.py
  capellambse/filehandler/local.py
  capellambse/filehandler/memory.py
Due: mypy, pylint

feat: Add support for loading models from ZIP files
  capellambse/filehandler/abc.py
  capellambse/filehandler/zip.py
  docs/source/start/specifying-models.rst
  pyproject.toml
  tests/test_filehandler_zip.py
Due: mypy, pylint

feat: Add Capella's demo models as "known models"
  capellambse/known_models/croud-surveillance-demo.json
  capellambse/known_models/croud-surveillance-demo.json.license
  capellambse/known_models/ife-demo.json
  capellambse/known_models/ife-demo.json.license
  capellambse/known_models/level-crossing-demo.json
  capellambse/known_models/level-crossing-demo.json.license
Due: none

fix(loader): Report `<Project>` name as model title
  capellambse/loader/core.py
Due: mypy, pylint
