Repository DSD-DBS/py-capellambse: changes, and which pre-commit hooks are due for each by the changed paths.
All: docformatter, ruff

docformatter:
  name: docformatter
  language: system
  entry: uv run --dev docformatter
  require_serial: true

ruff:
  name: Lint with ruff (demo notebooks)
  language: system
  entry: uv run --dev ruff check
  args:
  - --extend-ignore=FIX
  - --extend-ignore=ERA001
  require_serial: true

docs: Fixup links using autodoc_type_aliases where possible
  docs/source/conf.py
Due: docformatter

build: Fix the pure-Python wheel's version number
  .github/workflows/code-qa.yml
Due: none

build: Explicitly generate an sdist
  .github/workflows/code-qa.yml
Due: none

ci: Pin the used tool versions
  pyproject.toml
Due: none

ci: Engage Dependabot
  .github/dependabot.yml
Due: none

ci: Show the commitlint validation result in the Actions log
  .github/workflows/commits.yml
Due: none

ci: Don't commitlint dependabot
  .github/workflows/commits.yml
Due: none

test: Fail on unraisable exceptions
  pyproject.toml
Due: none

fix(git): Cleanup the worktree from the original repo base
  src/capellambse/filehandler/git.py
Due: docformatter

fix: Add a type annotation to ModelElement.xtype
  src/capellambse/model/_obj.py
  src/capellambse/model/_styleclass.py
  tests/test_metamodel_information.py
  tests/test_model_layers.py
  tests/test_reqif.py
Due: docformatter

feat(model): Reuse existing Allocation objects
  src/capellambse/model/_descriptors.py
  tests/test_model_layers.py
Due: docformatter

feat(model): Implement MultiStringPOD
  src/capellambse/model/_pods.py
Due: docformatter

fix(model): Rework list filtering
  docs/source/examples/02 Intro to Physical Architecture API.ipynb
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/extensions/validation/report-template.html.jinja
  src/capellambse/metamodel/cs.py
  src/capellambse/model/_obj.py
  tests/test_model_layers.py
  tests/test_validation.py
Due: docformatter, ruff

feat: Avoid stray AttributeErrors escaping from @property [WIP]
  src/capellambse/extensions/pvmt/_config.py
  src/capellambse/extensions/pvmt/_objects.py
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/metamodel/capellacommon.py
  src/capellambse/metamodel/capellacore.py
  src/capellambse/metamodel/capellamodeller.py
  src/capellambse/metamodel/fa.py
  src/capellambse/metamodel/information/__init__.py
  src/capellambse/metamodel/information/datatype.py
  src/capellambse/metamodel/la.py
  src/capellambse/metamodel/oa.py
  src/capellambse/metamodel/pa/__init__.py
  src/capellambse/metamodel/sa.py
  src/capellambse/model/_model.py
  src/capellambse/model/diagram.py
Due: docformatter

feat: Improve type hints for 'ElementList.by_*'
  src/capellambse/model/_obj.py
Due: docformatter

feat(model): Implement context-specific type hints
  src/capellambse/model/_descriptors.py
Due: docformatter

build: Add a more complete ecore parsing script
  scripts/ecore2py.py
  scripts/generate_enums.py
Due: docformatter

fix: Verify that the DeprecatedAccessor alternative exists
  src/capellambse/model/_descriptors.py
Due: docformatter

refactor: Deprecate old, now-unused functions
  src/capellambse/loader/core.py
  src/capellambse/model/__init__.py
  src/capellambse/model/_descriptors.py
  src/capellambse/model/_obj.py
Due: docformatter

chore: Improve `repr()` and error messages of Accessor classes
  src/capellambse/model/_descriptors.py
Due: docformatter

feat: Improve class selection during insert without type hint
  src/capellambse/extensions/reqif/_capellareq.py
  src/capellambse/model/_descriptors.py
  tests/test_reqif.py
Due: docformatter

feat: Make '@property's a bit more exception-resistant
  src/capellambse/extensions/pvmt/_objects.py
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/metamodel/capellacore.py
  src/capellambse/model/diagram.py
Due: docformatter

refactor: Deprecate old, now-unused functions
  src/capellambse/loader/core.py
  src/capellambse/metamodel/oa.py
  src/capellambse/model/__init__.py
  src/capellambse/model/_descriptors.py
  src/capellambse/model/_obj.py
Due: docformatter

chore: Reduce emitted deprecation warnings [WIP]
  src/capellambse/extensions/filtering.py
  src/capellambse/extensions/pvmt/_config.py
  src/capellambse/extensions/reqif/capellarequirements.py
  src/capellambse/extensions/reqif/requirements.py
  src/capellambse/extensions/validation/_validate.py
  src/capellambse/metamodel/sa.py
  src/capellambse/model/_obj.py
Due: docformatter

fix(metamodel): Fix `involving_chains` for `OperationalProcess`
  src/capellambse/metamodel/oa.py
Due: docformatter

wip: Add modifier for xmltags of OperationalActivities
  src/capellambse/metamodel/oa.py
  src/capellambse/model/_obj.py
Due: docformatter

feat(metamodel): Add `OperationalProcess.involving_chains`
  src/capellambse/metamodel/oa.py
Due: docformatter

fix(metamodel): Expose ComponentExchange categories as a list
  src/capellambse/metamodel/fa.py
Due: docformatter

Path conditions:
  docformatter: any of: \.py$
  ruff: any of: docs/.*\.ipynb$ and \.ipynb$
